#game-canvas {
  background-color: black;
}

.game-canvas-container {
  height: 900px;
  width: 450px;
}

#hold-canvas {
  background-color: black;
}

#next-canvas {
  background-color: black;
}

.canvases {
  display: flex;
  justify-content: space-around;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content, .play-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.active {
  display: block;
}

.pause {
  display: none;
}

.game-over {
  display: none;
}

.tetris-title {
  width: 20%;
  margin: 0 auto;
}

html {
  background-color: #DBF9FC
}

h1 {
  font-size: 2em;
  text-align: center;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.score, .controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border:rgba(0, 0, 0, 0.5) solid 1px;
  width: 180px;
  background-color: black;
  color: white;
  padding: 5px;
}

.score > h1, .controls > h1 {
  font-size: 1.5em;
  color: green;
}

/* MacOS Big Sur Button CSS */
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

body {
  position: relative;
}

.play-holder {
  background-color: transparent;
}

/* Thanks to Kocsten for Hover Glow Effect */
.glow-on-hover {
  width: 500px;
  height: 500px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 4em;
  text-align: center;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}